// Random stuff I'll figure out where to move latter

.inline {
  display: inline;
}

// These are the little up and down arrows on number inputs
.no-spin-buttons {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
