// Styles for the main container

#main-child-wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  padding-top: 57px;

  #main-window {
    background-color: #282c34;
    color: #fff;
    padding-left: 80px;
    transition: all 0.5s;
    width: 100%;
    height: 100vh;

    &.pd__large {
      padding-left: 250px;
    }

    #pg-content {
      max-width: calc(100% - 30px);
      margin: 0 auto;
    }
  }
}
