// Styles for the page header

#fa-container__hover {
  height: 56px;
  margin: -8px -16px -12px;
  padding: 8px 24px 0 16px;

  .fa-container__header-ellipsis {
    background-color: lighten($react-dark, 10);
    border-radius: 5px;
    padding: 8px 16px;
    margin-right: 8px;
    display: none;

    &:hover {
      background-color: lighten($react-dark, 20);
    }

    &.active {
      display: block;
    }
  }
}
