// Main Sidebar

#sidebar {
  background-color: $react-dark;
  border: 1px solid lighten($react-dark, 10);
  color: #fff;
  min-width: 80px;
  max-width: 80px;
  min-height: 100vh;
  position: fixed;
  transition: all 0.5s;
  flex-direction: column;
  z-index: 999;

  .sidebar-header {
    padding: 16px 0 16px 16px;
    position: relative;

    .sidebar-header__headline {
      opacity: 0;
      transition: opacity 0.3s;
      width: 30px;
    }

    .sidebar-header__link {
      background-color: lighten($react-dark, 10);
      border: 1px solid lighten($react-dark, 20);
      position: absolute;
      top: 0;
      right: 0;
      padding: 16px 8px;

      svg {
        transition: transform 0.5s;
        color: #fff;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
      }
    }

    .inline {
      display: inline;
    }
  }

  .item {
    padding: 0.75rem 1.25rem;
    text-align: center;
    width: 100%;

    a {
      color: #fff;
      font-size: 1.3rem;

      span {
        padding-left: 10px;
        display: none;
      }
    }

    &.active {
      background-color: lighten($react-dark, 10);
    }
  }

  .accordion {
    .card,
    .card-header {
      background-color: $react-dark;
    }

    .card-header {
      text-align: center;
      font-size: 1.3rem;

      span {
        display: none;
      }
    }

    ul li a {
      color: #fff;
    }
  }

  &.active {
    min-width: 250px;
    max-width: 250px;

    .sidebar-header {
      .sidebar-header__headline {
        opacity: 1;
        width: 80%;
      }

      .sidebar-header__link svg {
        -webkit-transform: rotate(0);
        transform: rotate(0);
      }
    }

    .item {
      text-align: left;

      a {
        font-size: 1rem;

        span {
          display: inline;
        }
      }
    }

    .accordion {
      .card-header {
        text-align: left;
        font-size: 1rem;

        span {
          display: inline;
          padding-left: 10px;
        }
      }
    }
  }

  .components {
    width: 100%;
  }
}
