// Main Sidebar
// This container is the one that expands and contracts

#sidebar {
  background-color: $react-dark;
  color: #fff;
  min-width: 250px;
  max-width: 250px;
  min-height: 100%;
  overflow-x: hidden;
  transition: all 0.5s;
  //flex-direction: column;
  //z-index: 999;
}
