#sidebar.active {
  min-width: 250px;
  max-width: 250px;

  .sidebar-header {
    &__icon {
      margin-left: 0;
      margin-right: 8px;
    }

    &__headline {
      margin-left: 8px;
      opacity: 1;
    }

    &__link svg {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
  }

  .item {
    text-align: left;

    a {
      font-size: 1.3rem;

      span {
        display: inline;
      }
    }
  }

  .accordion {
    .card-header {
      text-align: left;
      font-size: 1rem;

      span {
        display: inline;
        padding-left: 10px;
      }
    }
  }
}
