// Side bar menu
// This is the div that will float and contain all the actual elements
#inmovable-object {
  position: absolute;
  top: 56px;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 0;
  overflow: visible;
  z-index: 9;
  pointer-events: none;
}

#sidebar__menu {
  background-color: $react-dark;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  position: fixed;
  top: 56px;
  max-height: 100%;
  width: 250px;
  opacity: 0;
  transition: all 0.5s;
  transform: translateX(-250px);
  pointer-events: all;

  &.active {
    opacity: 1;
    transform: translateX(0);
  }
}
