// Side bars headers

#sidebar__menu .sidebar-header {
  display: flex;
  justify-content: center;
  padding: 16px 0;
  position: relative;
  width: 100%;

  &__icon {
    font-size: 1.5rem;
    margin-right: 8px;
  }

  &__headline {
    margin-left: 8px;
    transition: opacity 0.3s;
  }

  &__link {
    height: 100%;
    width: 35px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 16px 8px;
    opacity: 0;
    transition: opacity 0.6s;

    .fa-container__sidebar-header__chevron-left {
      background-color: lighten($react-dark, 10);
      border-radius: 5px;
      top: 12px;
      right: 0;
      padding: 8px 13px;
      position: absolute;

      svg {
        transition: transform 0.5s;
        color: #fff;
      }
    }

    &:hover {
      opacity: 0.9;
    }
  }
}
