// XTERM
@import '~xterm/dist/xterm.css';

#terminal-container {
  .terminal__wrapper {
    background-color: lighten($react-dark, 20);
    border-radius: 5px;
    padding: 8px;
    padding-top: 50px;

    .close-terminal {
      border-radius: 50%;
      position: absolute;
      top: 12px;
      right: 12px;
      width: 24px;
      height: 24px;

      &::after {
        content: 'X';
        position: absolute;
        top: 1px;
        left: 7px;
      }
    }

    .ReactXTerm {
      border-radius: 3px;
      background: linear-gradient(to bottom, $gray-600, $gray-400);
      padding: 3px;
    }
  }
}
