// Timer
#timer-group {
  display: flex;

  // All of the items in the dropdown are in here
  .dropdown {
    margin-left: 0.5rem;

    > button {
      box-shadow: none;

      &:hover {
        box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
      }
      &::after {
        display: none;
      }
    }

    .dropdown-menu {
      min-width: 16rem;
      max-width: 16rem;

      .dropdown-header {
        text-align: center;
      }
    }

    #timer-input-group {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 8px;

      .masked-input {
        text-align: center;
        font-size: 2rem;
        width: 75%;
        border: none;
        margin: 10px 0;

        &:focus {
          outline: none;
        }
      }

      #stopwatch-start {
        font-size: 1.5rem;
      }
    }

    .btn-toolbar {
      display: flex;
      justify-content: space-around;

      .btn {
        min-width: 30%;
        margin-left: 5%;

        &:first-of-type {
          margin-left: 0;
        }
      }
    }
  }
}
