/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
// Fonts
//@import "~@fortawesome/fontawesome-free/css/all.css";

// Custom Colors - not bootstrap overrides
@import 'styles/globals/colors';

// Bootstrap
@import 'styles/globals/bootstrap/bootstrap';

// Defauls

// Layouts
@import 'styles/layouts/main-wrapper';
@import 'styles/layouts/main-child-wrapper';

// Components
@import 'styles/components/markdown-overrides';
@import 'styles/components/navbar';

// Header
@import 'styles/components/header/header';
@import 'styles/components/header/pipe';
@import 'styles/components/header/widgets/timer';
@import 'styles/components/header/widgets/timer-controls';

// Sidebar
@import 'styles/components/sidebar/sidebar';
@import 'styles/components/sidebar/sidebar-components';
@import 'styles/components/sidebar/sidebar-theme-toggle';
@import 'styles/components/sidebar/sidebar-header';
@import 'styles/components/sidebar/sidebar-menu';

// Rando
@import 'styles/globals/random';
